    <div class="pageheader">
    <h1>New Project</h1>
    <p class="description">Create New Project and View Data</p>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li class="active">New Project</li>
        </ol>
    </div>
</div>
<section id="main-content" class="animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                
                <div class="panel-heading">
                    <h3 class="panel-title">New Project Details</h3>
                    <div class="actions pull-right">
                    <i data-fullscreen-widget class="fa fa-expand"></i>
                        <i data-widget-toggle class="fa fa-chevron-down"></i>
                        <i data-widget-close class="fa fa-times"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form ng-submit="Project.submitProject($event)">
                                <div class="form-group"><label class="control-label">Project Name :</label>
                                    <input type="text" class="form-control" ng-model="Project.project.name" placeholder="Name of your Project" required="">                                
                                </div>                                                      
                                <div class="form-group"><label class="control-label">Selected Tags :</label>
                                   <div
                                        isteven-multi-select
                                        input-model="Project.tags"
                                        output-model="Project.project.selectedtags"
                                        button-label="tag"
                                        item-label="tag"
                                        tick-property="ticked"
                                        orientation="horizontal"
                                        max-height="100px"
                                        max-labels="5"
                                    >
                                    </div>  
                                    <br>
                                    <h6 class="text-muted"><i>* these tags will relate projects to each other for the analysis of the features complexity and time costs</i></h6>               
                                </div>     
                                <button type="submit" class="btn btn-success">Submit</button>
                            </form>
                        </div>

                        <div class="col-md-6">
                            <form ng-submit="Project.addTag($event)">
                                <div class="form-group">
                                    <label class="control-label">Add Tag :</label>
                                    <input type="text" class="form-control" ng-model="Project.newTag" placeholder="Add new Tag to your Project" required="">
                                </div>                                                      
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Suggested Data for your Proejct</h3>
                    <div class="actions pull-right">
                    <i data-fullscreen-widget class="fa fa-expand"></i>
                        <i data-widget-toggle class="fa fa-chevron-down"></i>
                        <i data-widget-close class="fa fa-times"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <div ng-if="!Project.loading">Please supply information for new Project to see the analysis.</div>
                    <div ng-if="Project.loading">
                        <h1>{{Project.project.name}}: Approximately 7 weeks</h1>
                        <small class="font-bold">Time to finished is based on your company's performance on past similar projects..</small>
                        <hr>
                        <h3>These are the tasks with the corresponding hours spent in your team</b></h3>
                        <br>
    
                        <accordion close-others="true">
                            <accordion-group ng-repeat="tag in Project.project.selectedtags" heading="{{tag.tag}}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                               <table class="footable table table-stripped toggle-arrow-tiny">
                                    <tr>
                                        <td>After Login clear cache</td>
                                        <td><strong> 6 hrs.</strong></td>
                                    </tr>
                                    <tr>
                                        <td>OAuth using Facebook API.</td>
                                        <td><strong> 3 hrs.</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Twitter, YouTube, Instagram, LinkedIn Integration.</td>
                                        <td><strong> 2 hrs.</strong></td>
                                    </tr>
                                   
                                    <tr>
                                        <td>Can filter tasks.</td>
                                        <td><strong> 1 hrs.</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Can subscribe task to mobile.</td>
                                        <td><strong> 2 hrs.</strong></td>
                                    </tr>
                               </table>
                            </accordion-group>
                        </accordion>
              
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
