<div class="pageheader">
    <h1>New Project</h1>
    <p class="description">Create New Project and View Data</p>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li class="active">New Project</li>
        </ol>
    </div>
</div>
<section id="main-content" class="animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New Project Details</h3>
                    <div class="actions pull-right">
                    <i data-fullscreen-widget class="fa fa-expand"></i>
                        <i data-widget-toggle class="fa fa-chevron-down"></i>
                        <i data-widget-close class="fa fa-times"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group"><label class="col-sm-4 control-label">Project Name :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="Project.project.name" placeholder="Name of your Project" required="">
                                </div>
                            </div>                                                      
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group"><label class="col-sm-4 control-label">Selected Tags :</label>
                                <div class="col-sm-8">
                                   <div
                                        isteven-multi-select
                                        input-model="Project.tags"
                                        output-model="Project.selectedTags"
                                        button-label="tag"
                                        item-label="tag"
                                        tick-property="ticked"
                                        orientation="horizontal"
                                        max-height="100px"
                                        max-labels="5"
                                    >
                                    </div>
                                </div>                    
                            </div>     
                        </div>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form ng-submit="Project.addTag($event)">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Add Tag :</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="Project.newTag" placeholder="Add new Tag to your Project" required="">
                            </div>
                        </div>                                                      
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
