<section id="main-wrapper" class="theme-green-full">
    <!-- Page wrapper -->
    <header id="header" ng-include="'assets/views/shared/header.html'"></header>
    <!-- Left Sidebar Navigation -->
    <aside class="sidebar sidebar-left" ng-include="'assets/views/shared/navigation.html'"></aside>
    <!-- Content wraper -->
    <section class="main-content-wrapper">
        <!-- Main content view  -->
        <div ui-view></div>
        <!-- Footer -->
        <div ng-include="'assets/views/shared/footer.html'"></div>
    </section>
    <!-- /Content wraper-->
</section>