<header id="header" ng-include="'assets/views/shared/header.html'"></header>
<!-- Content wraper -->
<div class="ch-container">
    <div class="row">
        <!-- Left Sidebar Navigation -->
        <aside class="sidebar sidebar-left" ng-include="'assets/views/shared/navigation.html'"></aside>
        <div id="content" class="col-lg-10 col-sm-10">
            <!-- Main content view  -->
            <div ui-view></div>
        </div>
    </div>
    <!-- Footer -->
    <div ng-include="'assets/views/shared/footer.html'"></div>
</div>
